<html>
    <head>
        <title>A first App</title>
    </head>
    <body>
        <div id="app">
            <div>
                <label for="goal">Goal</label>
                <input type="text" id="goal" v-model="enteredValue" />
                <button v-on:click="addGoal">Add Goal</button>
            </div>
        </div>
        <ul>
            <li v-for="goal in goals"></li>
        </ul>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="app.js"></script>
    </body>
</html>