<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div id="app">
			<dropbox-viewer></dropbox-viewer>
		</div>

		<script src="https://unpkg.com/vue"></script>
		<script src="https://unpkg.com/dropbox/dist/Dropbox-sdk.min.js"></script>

		<script type="text/x-template" id="dropbox-viewer-template">
		<div>
			<h1>Dropbox</h1>

			<div v-if="isLoading">Loading...</div>

			<ul v-if="!isLoading">
				<li v-for="entry in structure">
					<strong>{{ entry.name }}</strong>
					<span v-if="entry.size">- {{ bytesToSize(entry.size) }}</span>
				</li>
			</ul>

		</div>
		</script>

    <script type="text/javascript">

		Vue.component('dropbox-viewer', {
			template: '#dropbox-viewer-template',

			data() {
				return {
					accessToken: '93bzy8y136504bq',
					structure: [],
					byteSizes: ['Bytes', 'KB', 'MB', 'GB', 'TB'],
					isLoading: true
				}
			},

			methods: {
				dropbox() {
					return new Dropbox({
						accessToken: this.accessToken
					});
				},

				getFolderStructure(path) {
					this.dropbox().filesListFolder({
						path: path,
						include_media_info: true
					})
					.then(response => {
						console.log(response.entries);
						this.structure = response.entries;
						this.isLoading = false;
					})
					.catch(error => {
						console.log(error);
					});
				},

				bytesToSize(bytes) {
					// Set a default
					let output = '0 Byte';

					// If the bytes are bigger than 0
					if (bytes > 0) {
						// Divide by 1024 and make an int
						let i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
						// Round to 2 decimal places and select the appropriate unit from the array
						output = Math.round(bytes / Math.pow(1024, i), 2) + ' ' + this.byteSizes[i];
					}

					return output
				}
			},

			created() {
				this.getFolderStructure('');
			}
		});

		new Vue({
			el: '#app'
		});
		</script>
	</body>
</html>