<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Vue.js App</title>
</head>

<body>
  <div>show</div>
  <div id="app">
    {{message}}
    {{price}}
    {{details}}
    {{messageToLower}}
    {{cost}}
    {{ calculateSalesTax(shirtPrice)}}
    {{ accCurrency(calculateSalesTax(shirtPrice)) }}
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script type="text/javascript">
    // JS Code here
    const app = new Vue({
      el: '#app',
      data: {
        message: 'Hello WORLD!',
        price: 18 + 6,
        currency: '$',
        salesTax: 16,
        details: ['one', 'two', 'three'],

        shirtPrice: 25,
        hatPrice: 10,
      },
      computed: {
        messageToLower() {
          // return 'hello vue!';
          return this.message.toLowerCase();
        },
        cost() {
          // Work out the price of the item including salesTax
          let itemCost = parseFloat( Math.round((this.salesTax / 100) * this.price) + this.price).toFixed(2);
          // Add text before displaying the currency and amount
          let output = 'This item costs ' + this.currency + itemCost;
          // Append to the output variable the price without salesTax
          output += ' (' + this.currency + this.price + ' excluding salesTax)';
          // Return the output value
          return output;
        },
      },
      methods:{
        calculateSalesTax(price) {
          // Work out the price of the item including sales tax
          return price;
          // return parseFloat(Math.round((this.salesTax / 100) * price)  + price).toFixed(2);
        },
        accCurrency(price){
          return this.currency + price;
        }
      }
    })
    app.$mount("#app");
    // app.salesTax = 20
    // app.price = 99.99
  </script>
</body>

</html>