<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Vue.js App</title>
</head>

<body>
  <div>ch2_for</div>
  <div id="app">
    <ul>
      <li v-for="person in people">
        {{person}}
        {{person.name}}
        {{person.age}}
      </li>
    </ul>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script type="text/javascript">
    // JS Code here
    const app = new Vue({
        el: '#app',
        data:{
            people : [{name:'Peter', age:11}, {name:'John', age:22}, {name:'Andrew', age:33}, {name:'Francis', age:44}]
        }
    });
  </script>
</body>

</html>