<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Vue.js App</title>
</head>

<body>
  <div>show3</div>
  <div id="app">
    <div v-if="isSelected">Now you see me...</div>
  </div>
  <script src="https://unpkg.com/vue"></script>
  <script type="text/javascript">
    // JS Code here
    const app = new Vue({
        el: '#app',
        data:{
            // isVisible: false
            // isVisible: true
            // isVisible: 'yes'
            selected : `yes`
        },
        methods:{
          isSelected(){
            return selected == 'yes';
          }
        },
        // computed:{
        //   isSelected(){
        //     console.log(selected);
        //     return selected == 'yes';
        //   }
        // }
    });
    // app.selected = 'no'
  </script>
</body>

</html>